.chat-unit
  %li.chat-unit__name-time
    %span.name= message.user.name
    %span.time= message.updated_at.strftime("%Y/%m/%d %H:%M:%S")
    %p.chat-unit__message= message.body
    - if message.image.url
      = image_tag message.image.url
