= link_to group_messages_path(group), class: "group-link" do
  .side__group--name
    = group.name
  .side__group--message
    - if group.messages.last
      = group.messages.last.body
    - else
      no messages
