.flash-alert{
  text-align: center;
  background-color: #d65f4c;
  color:white;
  letter-spacing: 1px;
}

.flash-notice{
  text-align: center;
  background-color: $light_blue;
  color:white;
  letter-spacing: 1px;
}
