html,body,.content{
  height: 100%;
}

.side{
  width: 300px;
  height: 100%;
  background-color: #2f3e51;
  color: #FFF;
  text-align: left;
  float: left;
  .side__user{
    height: 100px;
    background-color: #253141;
    line-height: 100px;
    padding: 0 20px;
    h5{
      font-weight: bold;
      font-size: 16px;
      float: left;
    }
    .side__user--icon{
      float: right;
      a{
        @include link_no_deco;
      }
    }
  }
  .side__group{
    padding: 0 20px;
    height: calc(100% - 100px);
    a{
      @include link_no_deco;
    }
    .side__group--name{
      font-size: 15px;
      padding-top: 20px;
    }
    .side__group--message{
      font-size: 11px;
      padding-bottom: 20px;
    }
  }
}

.main{
  float: left;
  height: 100%;
  width: calc(100% - 300px);
  min-width: 200px;
  color: black;
  .main__header{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    height: 100px;
    .main__header--left{
      float: left;
      h2{
        margin-top: 20px;
        line-height: 50px;
        color: #333;
        font-size: 20px;
      }
      p.main__header--users{
        color: #999;
        font-size: 12px;
      }
    }

    .main__header--right{
      float: right;
      .main__header--right__link{
        display: inline-block;
        margin: 28px 0;
        padding-right: 20px;
        padding-left: 20px;
        line-height: 40px;
        color: #38aef0;
        font-size: 14px;
        border: 2px solid;
        text-decoration: none;
      }
    }
  }
  .main__body{
    padding: 30px 0;
    height: calc(100% - 200px);
    overflow-y: scroll;
    padding: 30px 0;
    background-color: #fafafa;
    .chat-unit{
      color: #434a54;
      padding-left: 40px;
      padding-bottom: 40px;
      p.chat-unit__name-time{
        span.name{
          font-size: 16px;
          font-weight: bold;
        }
        span.time{
          font-size: 12px;
          color: #999;
          padding-left: 10px;
        }
      }
      p.chat-unit__message{
        font-size: 14px;
        padding-top: 10px;
      }
    }
  }
  .main__footer{
    height: 100px;
    padding: 20px 0px 20px 40px;
    background-color: #ddd;
    .main__footer--body{
      width: calc(100% - 50px);
      min-width: 300px;
      height: 50px;
      position: relative;
      margin: 5px;
      box-sizing: border-box;
      #message_body{
        float: left;
        width: calc(100% - 130px);
        height: 100;
        padding: 15px 0px 15px 10px;
        line-height: 20px;
        border: none;
        display: block;
        resize: none;
      }
      i.fa.fa-image{
        position: absolute;
        top: 0;
        right: 130px;
        display: inline-block;
        width: 40px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
      }
      .submit{
        float: left;
        display: inline-block;
        margin-left: 20px;
        line-height: 50px;
        color: #fff;
        background-color: $light_blue;
        text-align: center;
        border: none;
        padding: 0 15px;
        box-sizing: border-box;
      }
    }
  }
}
